= provide :title, "新規作成"

.container
  .panel.panel-default
    .panel-heading.text-center
      %h4 チェックリスト作成フォーム
    .panel-body
      = form_for @checklist do |f|
        .row
          .col-xs-12.form-group
            = f.label :name, 'リスト名'
            = f.text_field :name, placeholder: 'リスト名', class: 'form-control'
        .row
          .col-xs-6
            = f.label :maker, 'リスト作成者'
          .col-xs-6
            = f.label :image, 'イメージ画像'
        .row
          .col-xs-6.form-group
            = f.text_field :maker, placeholder: 'リスト作成者名', class: 'form-control'
          .col-xs-6.form-group
            = f.file_field :image

        .row.form-group
          .col-xs-12.form-group
            = f.label :frequency, 'チェック頻度'
            .form-group
              = f.select :frequency, Settings.frequency
        .row
          .col-xs-12.form-group#wday
            = f.label :days, '曜日'
            .form-group
              %span 毎週
              = f.select :wday, Settings.wday
              %span 曜日
        .row
          .col-xs-12.form-group#date
            = f.label :date, '日付'
            .form-group
              %span 毎月
              = f.select :date, 0..31
              %span 日
        .row
          .contents_area
            = f.fields_for :contents do |content|
              .form-group
                .col-xs-6.content_label.form-group
                  = content.label :text, 'チェック項目'
                .col-xs-6.form-group
                  %input{ type: 'button', class: 'btn btn-default add_button', value: 'チェック項目追加' }
                .form-group.content_field
                  .col-xs-8.content_input
                    = content.text_field :text, class: 'form-control', placeholder: '追加したいチェック項目を入力してください'
                  .col-xs-2.button_area
                    %input{ type: 'button', class: 'btn btn-default remove_button', value: '削除' }
        %br
        .row
          .col-xs-2.col-xs-offset-5
            %br
            = button_tag '作成', type: 'submit', class: 'btn btn-primary'

