= provide :title, "チェックリスト詳細"

.container
  .panel.panel-default
    .panel-heading.text-center
      %h3
        = @checklist.name
    .panel-body
      = form_tag(checklist_path, method: :patch) do
        - @checklist.contents.each do |content|
          .form-group
            = check_box_tag :text, content[:text]
            = content.text
        %br
        %br
        .row
          .col-xs-12.text-center
            = hidden_field_tag :checkflag, 'check_checklist'
            = button_tag 'チェック完了', class: 'btn btn-primary', id: 'check_button'
  .row
    .col-xs-6.text-center
      = link_to 'リスト編集', edit_checklist_path(@checklist), class: "btn btn-default", id: 'list_edit_button'
    .col-xs-6.text-center
      = link_to 'リスト削除', checklist_path(@checklist), method: 'delete', class: "btn btn-default", id: 'list_delete_button', authenticity_token: true
